.modal.open .modal-overlay,
.modal.open .modal-window {
   opacity: 1;
   z-index: 1000;
}

.modal.hide .modal-overlay,
.modal.hide .modal-window {
   opacity: 1;
   z-index: 1000;
}

.modal.open .modal-window {
   transform: translateY(100px);
}

.modal.open .modal-overlay {
   background: rgba(0, 0, 0, 0.5);
}

.modal.hide .modal-window {
   transform: translateY(-200px);
}

.modal.hide .modal-overlay {
   background: rgba(0, 0, 0, 0);
}

.modal-window,
.modal-overlay {
   opacity: 0;
   z-index: -1;
}

.modal-overlay {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0);
   transition: background 0.2s ease-in;
}

.modal-window {
   width: 600px;
   border-radius: 5px;
   background: #fff;
   margin: 0 auto;
   transform: translateY(-200px);
   transition: transform 0.2s ease-in;
}

.modal-header {
   padding: 10px 10px;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #eee;
}

.modal-title {
   font-size: 1.8rem;
}

.modal-close {
   color: #aaaaaa;
   font-size: 2rem;
   font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}

.modal-body {
   padding: 10px;
   font-size: 1.2rem;
}

.modal-body input {
   border: none;
   border-bottom: 1px solid black;
   outline: none;
}

.modal-body input:hover,
.modal-body input:focus {
   border-bottom: 1px solid #fa4251;
}

.modal-footer {
   padding: 5px 10px;
   border-top: 1px solid #eee;
   text-align: center;
}
