html,
body {
   height: 100%;
   margin: 0;
   font-size: 16px;
}

body {
   display: flex;
   flex-direction: column;
   font-family: 'Roboto', sans-serif;
   background: #cddddd;
}

header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px;
}

main {
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.container {
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.user-table {
   width: 100%;
   border-collapse: collapse;
   border-radius: 10px;
   box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
   -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
   -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
   -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
   -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
   background-color: #fff;
}

.user-table thead {
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
   -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
   -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
   -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.user-table th {
   padding: 1rem 0 1rem 3rem;
   font-size: 1.4rem;
   color: #fa4251;
   cursor: pointer;
}

.user-table th:hover {
   color: #9c0f1b;
}

.user-table tr {
   border-bottom: 1px solid #f2f2f2;
   cursor: pointer;
}

.user-table tr:hover td {
   color: #000;
   background-color: rgb(243, 241, 241);
}

.user-table td {
   color: #808080;
   padding: 1rem 0 1rem 3rem;
}

.button {
   background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
   background-image: linear-gradient(top, #f4f1ee, #fff);
   box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white,
      inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
   border: none;
   -webkit-transition: all 0.1s linear;
   transition: all 0.1s linear;
   outline: none;
   text-align: center;
   margin: 10px 20px;
}

.button:hover {
   background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
   background-image: linear-gradient(top, #fff, #f4f1ee);
   color: #eb2f2f;
   text-shadow: 0px 0px 6px #eb2f2f;
}

.button:active {
   background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
   background-image: linear-gradient(top, #efedec, #f7f4f4);
   box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
}

.add-user {
   border-radius: 50%;
   font-size: 2rem;
   width: 3rem;
   height: 3rem;
   line-height: 3rem;
   color: #aaaaaa;
}

footer {
   flex-shrink: 0;
   height: 3rem;
   background: #4a4063;
   margin-top: 50px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
}

.signature {
   font-size: 1.6rem;
   color: #ede7b1;
}
